<%= bootstrap_form_for @product, remote: true do |f| %>
  <div class="modal-body">
    <%= f.text_field :title %>
    <%= f.text_field :price %>
  </div>
  <div class="modal-footer">
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to "取消", "#", class: "btn btn-default", data: { dismiss: "modal" } %>
  </div>
<% end %>
